.features-dark {
   
    padding: 80px 20px;
    color: white;
}

.features-container {
    max-width: 1100px;
    margin: 0 auto;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 60px 40px;
    text-align: center;
}

.icon-outline {
    width: 120px;
    height: 120px;
    border: 1px solid #444; 
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.feature-item:hover .icon-outline {
    border-color: #fff;
    transform: translateY(-5px);
}

.icon-inner {
    font-size: 2.5rem;
}

.feature-item h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.feature-item p {
    color: #888; 
    font-size: 1rem;
    max-width: 250px;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .features-grid {
        grid-template-columns: 1fr; 
        gap: 50px;
    }
}